/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

:root {
  --date-picker-primary-color: #60ba9a;
  --sliver: #cccccc;
}

.date-picker-container .date-picker-body .months-container {

  display: grid;
  grid-template-columns: repeat(4, 54px);

  .month {
    position: relative;
    height: 54px;
    text-align: center;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &.disabled {
      color: #dee2e6;
      cursor: not-allowed;
    }

    &:not(.disabled):not(.active):hover {
      background-color: #f8f9fa;
      cursor: pointer;
      border-radius: 0.25rem;
    }

    &.active {
      color: var(--date-picker-primary-color);
      font-weight: 900;
      background-color: #dee2e6;
      font-size: 20px;
    }

    &.active.smaller {
      font-size: 16px;
    }
  }
}

.hide {
  display: none;
}

.date-picker-container i {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;

  &.prev {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 55.753 55.753' style='enable-background:new 0 0 55.753 55.753;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M12.745,23.915c0.283-0.282,0.59-0.52,0.913-0.727L35.266,1.581c2.108-2.107,5.528-2.108,7.637,0.001 c2.109,2.108,2.109,5.527,0,7.637L24.294,27.828l18.705,18.706c2.109,2.108,2.109,5.526,0,7.637 c-1.055,1.056-2.438,1.582-3.818,1.582s-2.764-0.526-3.818-1.582L13.658,32.464c-0.323-0.207-0.632-0.445-0.913-0.727 c-1.078-1.078-1.598-2.498-1.572-3.911C11.147,26.413,11.667,24.994,12.745,23.915z'/%3E%3C/g%3E%3C/svg%3E%0A");

    &.green {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 55.753 55.753' style='enable-background:new 0 0 55.753 55.753;' xml:space='preserve'%3E%3Cg fill='%2360ba9a'%3E%3Cpath d='M12.745,23.915c0.283-0.282,0.59-0.52,0.913-0.727L35.266,1.581c2.108-2.107,5.528-2.108,7.637,0.001 c2.109,2.108,2.109,5.527,0,7.637L24.294,27.828l18.705,18.706c2.109,2.108,2.109,5.526,0,7.637 c-1.055,1.056-2.438,1.582-3.818,1.582s-2.764-0.526-3.818-1.582L13.658,32.464c-0.323-0.207-0.632-0.445-0.913-0.727 c-1.078-1.078-1.598-2.498-1.572-3.911C11.147,26.413,11.667,24.994,12.745,23.915z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &.up {
      transform: rotate(90deg);
    }

    &.down {
      transform: rotate(-90deg);
    }
  }

  &.next {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 55.752 55.752' style='enable-background:new 0 0 55.752 55.752;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M43.006,23.916c-0.28-0.282-0.59-0.52-0.912-0.727L20.485,1.581c-2.109-2.107-5.527-2.108-7.637,0.001 c-2.109,2.108-2.109,5.527,0,7.637l18.611,18.609L12.754,46.535c-2.11,2.107-2.11,5.527,0,7.637c1.055,1.053,2.436,1.58,3.817,1.58 s2.765-0.527,3.817-1.582l21.706-21.703c0.322-0.207,0.631-0.444,0.912-0.727c1.08-1.08,1.598-2.498,1.574-3.912 C44.605,26.413,44.086,24.993,43.006,23.916z'/%3E%3C/g%3E%3C/svg%3E%0A");
  }

  &.time {
    height: 16px;
    width: 16px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 559.98 559.98' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg transform='matrix(-1,0,0,1,559.97998046875,0)'%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M279.99,0C125.601,0,0,125.601,0,279.99c0,154.39,125.601,279.99,279.99,279.99c154.39,0,279.99-125.601,279.99-279.99 C559.98,125.601,434.38,0,279.99,0z M279.99,498.78c-120.644,0-218.79-98.146-218.79-218.79 c0-120.638,98.146-218.79,218.79-218.79s218.79,98.152,218.79,218.79C498.78,400.634,400.634,498.78,279.99,498.78z' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Cpath d='M304.226,280.326V162.976c0-13.103-10.618-23.721-23.716-23.721c-13.102,0-23.721,10.618-23.721,23.721v124.928 c0,0.373,0.092,0.723,0.11,1.096c-0.312,6.45,1.91,12.999,6.836,17.926l88.343,88.336c9.266,9.266,24.284,9.266,33.543,0 c9.26-9.266,9.266-24.284,0-33.544L304.226,280.326z' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }

  &.calendar {
    height: 16px;
    width: 16px;background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 488.152 488.152' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg fill='%2360ba9a'%3E%3Cpath d='M177.854,269.311c0-6.115-4.96-11.069-11.08-11.069h-38.665c-6.113,0-11.074,4.954-11.074,11.069v38.66 c0,6.123,4.961,11.079,11.074,11.079h38.665c6.12,0,11.08-4.956,11.08-11.079V269.311L177.854,269.311z'/%3E%3Cpath d='M274.483,269.311c0-6.115-4.961-11.069-11.069-11.069h-38.67c-6.113,0-11.074,4.954-11.074,11.069v38.66 c0,6.123,4.961,11.079,11.074,11.079h38.67c6.108,0,11.069-4.956,11.069-11.079V269.311z'/%3E%3Cpath d='M371.117,269.311c0-6.115-4.961-11.069-11.074-11.069h-38.665c-6.12,0-11.08,4.954-11.08,11.069v38.66 c0,6.123,4.96,11.079,11.08,11.079h38.665c6.113,0,11.074-4.956,11.074-11.079V269.311z'/%3E%3Cpath d='M177.854,365.95c0-6.125-4.96-11.075-11.08-11.075h-38.665c-6.113,0-11.074,4.95-11.074,11.075v38.653 c0,6.119,4.961,11.074,11.074,11.074h38.665c6.12,0,11.08-4.956,11.08-11.074V365.95L177.854,365.95z'/%3E%3Cpath d='M274.483,365.95c0-6.125-4.961-11.075-11.069-11.075h-38.67c-6.113,0-11.074,4.95-11.074,11.075v38.653 c0,6.119,4.961,11.074,11.074,11.074h38.67c6.108,0,11.069-4.956,11.069-11.074V365.95z'/%3E%3Cpath d='M371.117,365.95c0-6.125-4.961-11.075-11.069-11.075h-38.67c-6.12,0-11.08,4.95-11.08,11.075v38.653 c0,6.119,4.96,11.074,11.08,11.074h38.67c6.108,0,11.069-4.956,11.069-11.074V365.95L371.117,365.95z'/%3E%3Cpath d='M440.254,54.354v59.05c0,26.69-21.652,48.198-48.338,48.198h-30.493c-26.688,0-48.627-21.508-48.627-48.198V54.142 h-137.44v59.262c0,26.69-21.938,48.198-48.622,48.198H96.235c-26.685,0-48.336-21.508-48.336-48.198v-59.05 C24.576,55.057,5.411,74.356,5.411,98.077v346.061c0,24.167,19.588,44.015,43.755,44.015h389.82 c24.131,0,43.755-19.889,43.755-44.015V98.077C482.741,74.356,463.577,55.057,440.254,54.354z M426.091,422.588 c0,10.444-8.468,18.917-18.916,18.917H80.144c-10.448,0-18.916-8.473-18.916-18.917V243.835c0-10.448,8.467-18.921,18.916-18.921 h327.03c10.448,0,18.916,8.473,18.916,18.921L426.091,422.588L426.091,422.588z'/%3E%3Cpath d='M96.128,129.945h30.162c9.155,0,16.578-7.412,16.578-16.567V16.573C142.868,7.417,135.445,0,126.29,0H96.128 C86.972,0,79.55,7.417,79.55,16.573v96.805C79.55,122.533,86.972,129.945,96.128,129.945z'/%3E%3Cpath d='M361.035,129.945h30.162c9.149,0,16.572-7.412,16.572-16.567V16.573C407.77,7.417,400.347,0,391.197,0h-30.162 c-9.154,0-16.577,7.417-16.577,16.573v96.805C344.458,122.533,351.881,129.945,361.035,129.945z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }
}

.date-picker-container .icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: #f8f9fa;
  }

  &[disabled="true"] {
    cursor: not-allowed;
    filter: opacity(0.2);
  }
}

.date-picker-container .text-center {
  text-align: center;
}

.date-picker-container .toggle-wrap {
  display: flex;
}

.date-picker-container {
  position: fixed;
  left: 0;
  top: 0;
  user-select: none;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 13px;
  font-family: MicrosoftJhengHei, serif;
  background-clip: padding-box;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  color: #212529;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  min-width: 10rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  margin: 2px 0;
  padding: 8px;
  list-style: none;

  &.hide {
    display: none;
  }

  &.show {
    display: flex;
  }

  * {
    box-sizing: border-box;
  }

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
  }

  &.bottom::before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    top: -7px;
    left: 7px;
  }

  &.bottom::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    top: -6px;
    left: 8px;
  }
}

.date-picker-header .year-month:not(.disabled):hover {
  cursor: pointer;
  background: #f8f9fa;
}

.date-picker-header {
  display: flex;
  align-items: center;
  font-weight: 900;
  line-height: 30px;
  font-size: 16px;
}

.date-picker-container .flex-1 {
  flex-grow: 1;
}
