/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

:root {
  --date-picker-primary-color: #60ba9a;
  --sliver: #cccccc;
}

.date-picker-container .date-picker-body .months-container {

  display: grid;
  grid-template-columns: repeat(4, 54px);

  .month {
    position: relative;
    height: 54px;
    text-align: center;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &.disabled {
      color: #dee2e6;
      cursor: not-allowed;
    }

    &:not(.disabled):not(.active):hover {
      background-color: #f8f9fa;
      cursor: pointer;
      border-radius: 0.25rem;
    }

    &.active {
      color: var(--date-picker-primary-color);
      font-weight: 900;
      background-color: #dee2e6;
      font-size: 20px;
    }

    &.active.smaller {
      font-size: 16px;
    }
  }
}

.hide {
  display: none;
}

.date-picker-container i {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;

  &.prev {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 55.753 55.753' style='enable-background:new 0 0 55.753 55.753;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M12.745,23.915c0.283-0.282,0.59-0.52,0.913-0.727L35.266,1.581c2.108-2.107,5.528-2.108,7.637,0.001 c2.109,2.108,2.109,5.527,0,7.637L24.294,27.828l18.705,18.706c2.109,2.108,2.109,5.526,0,7.637 c-1.055,1.056-2.438,1.582-3.818,1.582s-2.764-0.526-3.818-1.582L13.658,32.464c-0.323-0.207-0.632-0.445-0.913-0.727 c-1.078-1.078-1.598-2.498-1.572-3.911C11.147,26.413,11.667,24.994,12.745,23.915z'/%3E%3C/g%3E%3C/svg%3E%0A");
  }

  &.next {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 55.752 55.752' style='enable-background:new 0 0 55.752 55.752;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M43.006,23.916c-0.28-0.282-0.59-0.52-0.912-0.727L20.485,1.581c-2.109-2.107-5.527-2.108-7.637,0.001 c-2.109,2.108-2.109,5.527,0,7.637l18.611,18.609L12.754,46.535c-2.11,2.107-2.11,5.527,0,7.637c1.055,1.053,2.436,1.58,3.817,1.58 s2.765-0.527,3.817-1.582l21.706-21.703c0.322-0.207,0.631-0.444,0.912-0.727c1.08-1.08,1.598-2.498,1.574-3.912 C44.605,26.413,44.086,24.993,43.006,23.916z'/%3E%3C/g%3E%3C/svg%3E%0A");
  }

  &.time {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 359.286 359.286' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg transform='matrix(-1,0,0,1,359.2860107421875,0)'%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m179.643 359.286c99.043 0 179.643-80.6 179.643-179.643s-80.599-179.643-179.643-179.643-179.643 80.6-179.643 179.643 80.6 179.643 179.643 179.643zm0-335.334c85.869 0 155.691 69.821 155.691 155.691s-69.821 155.691-155.691 155.691-155.691-69.821-155.691-155.691 69.822-155.691 155.691-155.691z' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Cpath d='m232.039 236.89c2.216 1.796 4.85 2.635 7.485 2.635 3.533 0 7.006-1.557 9.341-4.491 4.132-5.15 3.293-12.695-1.856-16.827l-55.39-44.312v-90.061c0-6.587-5.389-11.976-11.976-11.976s-11.976 5.389-11.976 11.976v95.81c0 3.653 1.677 7.066 4.491 9.341z' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }

  &.calendar {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 36.447 36.447' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M30.224,3.948h-1.098V2.75c0-1.517-1.197-2.75-2.67-2.75c-1.474,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75 c0-1.517-1.197-2.75-2.67-2.75c-1.473,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75c0-1.517-1.197-2.75-2.67-2.75 c-1.473,0-2.67,1.233-2.67,2.75v1.197H6.224c-2.343,0-4.25,1.907-4.25,4.25v24c0,2.343,1.907,4.25,4.25,4.25h24 c2.344,0,4.25-1.907,4.25-4.25v-24C34.474,5.855,32.567,3.948,30.224,3.948z M25.286,2.75c0-0.689,0.525-1.25,1.17-1.25 c0.646,0,1.17,0.561,1.17,1.25v4.896c0,0.689-0.524,1.25-1.17,1.25c-0.645,0-1.17-0.561-1.17-1.25V2.75z M17.206,2.75 c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25v4.896c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75z M9.125,2.75 c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25v4.896c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75z M31.974,32.198c0,0.965-0.785,1.75-1.75,1.75h-24c-0.965,0-1.75-0.785-1.75-1.75v-22h27.5V32.198z' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='6.724' y='14.626' width='4.595' height='4.089' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='12.857' y='14.626' width='4.596' height='4.089' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='18.995' y='14.626' width='4.595' height='4.089' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='25.128' y='14.626' width='4.596' height='4.089' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='6.724' y='20.084' width='4.595' height='4.086' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='12.857' y='20.084' width='4.596' height='4.086' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='18.995' y='20.084' width='4.595' height='4.086' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='25.128' y='20.084' width='4.596' height='4.086' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='6.724' y='25.54' width='4.595' height='4.086' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='12.857' y='25.54' width='4.596' height='4.086' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='18.995' y='25.54' width='4.595' height='4.086' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3Crect x='25.128' y='25.54' width='4.596' height='4.086' fill='%2360ba9a' data-original='%23000000' class=''/%3E%3C/g%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }
}

.date-picker-container .icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: #f8f9fa;
  }

  &[disabled="true"] {
    cursor: not-allowed;
    filter: opacity(0.2);
  }
}

.date-picker-container .text-center {
  text-align: center;
}

.date-picker-container {
  position: fixed;
  left: 0;
  top: 0;
  user-select: none;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 13px;
  font-family: MicrosoftJhengHei, serif;
  background-clip: padding-box;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  color: #212529;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  min-width: 10rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  margin: 2px 0;
  padding: 8px;
  list-style: none;

  &.hide {
    display: none;
  }

  &.show {
    display: flex;
  }

  * {
    box-sizing: border-box;
  }

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
  }

  &.bottom::before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    top: -7px;
    left: 7px;
  }

  &.bottom::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    top: -6px;
    left: 8px;
  }
}

.date-picker-header .year-month:not(.disabled):hover {
  cursor: pointer;
  background: #f8f9fa;
}

.date-picker-header {
  display: flex;
  align-items: center;
  font-weight: 900;
  line-height: 30px;
  font-size: 16px;
}

.date-picker-container .flex-1 {
  flex-grow: 1;
}
